body,html{
	background: #ddd;
}
.wapper{
	.map-img{
		position: relative;
		.img-dot {
		    position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 9999;
		}
		svg{
			width: 100%;
		    height: 100%;
		    position: absolute;
		    left: 0;
		    top: 0;
		    z-index: 1;
		    .st-line{
		    	fill: none;
			    stroke: red;
			    stroke-miterlimit: 10;
			    stroke-width: 1.5;
			    stroke-dasharray: 15;
			    stroke-dashoffset: 0;
		        animation: StrokeLine 3s infinite linear;
		    }
		    .st-line1{
		    	fill: none;
			    stroke: #ddd;
			    stroke-miterlimit: 10;
			    stroke-width: 1.5;
			    stroke-dasharray: 15;
			    stroke-dashoffset: 0;
		        animation: StrokeLine 3s infinite linear;
		    }

		}
	}
}